body
{
    background:url('nithu.png')no-repeat center/contain;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 10px;
    border-color: blue;
    border-top: red;
    border-bottom: maroon;
    
}
.container
{
    
    width:30%;
    margin:auto;
    padding: 20px 40px;
    border-radius: 20px;
    border: 3px lavender;
    flex: content;
}
.About
{
    font-style: oblique;
    font-size: medium;
    font-weight: bolder;
    color: rgb(100, 83, 253);
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: rebeccapurple;
}
.quote
{
    background-color: rgb(245, 147, 208);
    padding:10px;
    margin: 15px;
    border-right: 7px yellowgreen;
    border-left: solid greenyellow;
    font-style: oblique;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
}
.Author
{
    display:flex;
    background-color: blanchedalmond;
    padding: 30px;
    border-radius: 20px;
    border: outset rebeccapurple;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight:bolder;
    font-style: calc();
    color: rgb(73, 43, 226);
    flex-direction: row;
}
.Author img
{
    width:100px;
    height:150px;
    border-radius: 6px;
    margin-right: 15px;
    margin-left: 15px;
    border:4px rgb(2, 31, 14);
    color: rgb(6, 224, 152);
    flex-wrap: wrap;
}
.PUBLISHER
{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 12px 20px;
    background-color: rgb(248, 9, 152);
    color:aquamarine;
    border-radius: 0 0 12px 12px;
    text-align: end;
    font-weight: 200;
    font-style: oblique;
    
    
}